@use '@/styles/variable' as v;
@use '@/styles/mixin' as m;

.row {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid v.$gray-100;
}

.emptyRow {
  padding: 24px;
}

.cell {
  display: flex;
  padding: 15px 16px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  align-self: stretch;
  font-size: 14px;
  color: v.$gray-800;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cellNo {
  justify-content: flex-start;
  color: v.$gray-500;
  font-weight: 400;
  font-size: 13px;
  width: 36px;
}

.cellField {
  justify-content: flex-start;
  color: v.$gray-500;
  font-weight: 400;
  font-size: 13px;
  width: 52px;
}

.cellCategory {
  justify-content: flex-start;
  color: v.$gray-500;
  font-weight: 400;
  font-size: 13px;
  width: 52px;
}

.cellTitle {
  justify-content: flex-start;
  color: v.$gray-600;
  font-weight: 500;
  background: none;
  border: none;
  cursor: pointer;
  width: 358px;
}

.cellTitleInteractive {
  justify-content: flex-start;
  color: v.$gray-600;
  font-weight: 500;
  background: none;
  border: none;
  cursor: pointer;
  width: 358px;

  &:hover,
  &:focus-visible {
    color: v.$gray-500;
    text-decoration: underline;
  }
}

.cellCapacity {
  justify-content: flex-start;
  color: v.$gray-500;
  font-weight: 400;
  font-size: 13px;
  width: 62px;
}

.cellApplied,
.cellDeadline {
  justify-content: flex-start;
  color: v.$gray-500;
  font-weight: 400;
  font-size: 13px;
  width: 62px;
}

.cellStatus {
  justify-content: flex-start;
  white-space: normal;
  width: 88px;
}

@include m.tablet {
  .cell {
    font-size: 13px;
    padding: 12px 14px;
  }
}

@include m.mobile {
  .cell {
    width: 100%;
    padding: 12px 16px;
    white-space: normal;
  }
  .cellNo {
    order: -1;
    justify-content: flex-start;
  }
  .cellStatus {
    justify-content: flex-start;
  }
}
