$gray-50: #fafafa;
$gray-100: #e7ebed;
$gray-200: #e5e5e5;
$gray-300: #d4d4d4;
$gray-400: #a3a3a3;
$gray-500: #737373;
$gray-600: #525252;
$gray-700: #404040;
$gray-800: #262626;
$gray-900: #171717;

$brand-black: #262626;
$brand-yellow: #ffc117;
$brand-white: #f1f2f5;

$error-red: #eb3e3e;

$white: #ffffff;
$black: #000000;
