@use '@/styles/variable' as v;
@use '@/styles/mixin' as m;

.page {
  padding: 24px 0 48px 0;
  @include m.center-container(890px);
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: calc(100vh - 48px);
  position: relative;

  .contentWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 1;
    min-height: 0;
  }

  .title {
    color: v.$gray-800;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
  }

  :global([data-color-mode='light']) {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;

    :global(.w-md-editor) {
      flex: 1;
      display: flex;
      flex-direction: column;
      min-height: 0;

      :global(.w-md-editor-content) {
        flex: 1;
        min-height: 0;
      }
    }
  }
}
