@use '../../../variable' as v;
@use '../../../mixin' as m;

.dropdown {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  width: 140px;
  color: v.$gray-800;
}

.triggerWrapper {
  width: 140px;
  > button {
    border-radius: 32px;
  }
}

@include m.tablet {
  .dropdown {
    width: 120px;
  }

  .dropdown :global(.trigger) {
    width: 120px;
  }
}

@include m.mobile {
  .dropdown {
    width: 104px;
  }

  .dropdown :global(.trigger) {
    width: 104px;
    padding: 8px;
  }
}
