@use '../../../variable' as v;
@use '../../../mixin' as m;

.dropdown {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 24px;
  font-size: 16px;
  color: v.$gray-500;
}

.optionTriggerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.optionList {
  display: flex;
  flex-direction: column;
  width: 139px;
  height: auto;
}

.optionListItem {
  width: 100%;
}

.optionButton {
  color: v.$gray-500;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
