@use '@/styles/mixin' as m;
@use '@/styles/variable' as v;

.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.headerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    flex: 1;
    min-width: 0;
    color: v.$gray-800;
    font-size: 24px;
    font-weight: 600;
    align-self: stretch;
    word-break: break-word;
  }
}

.headerBottom {
  display: flex;
  align-items: center;
  gap: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .description {
    color: v.$gray-700;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    align-self: stretch;
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
  }
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 8px;

  .user {
    color: v.$gray-800;
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
  }
}

.footer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dueDateWrapper,
.totalWrapper {
  display: flex;
  align-items: center;
  gap: 4px;

  .content {
    color: v.$gray-600;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
  }
}
