@use '@/styles/mixin' as m;
@use '@/styles/variable' as v;

.card {
  width: 100%;
  padding: 24px;
  border-radius: 12px;
  border: 2px solid v.$gray-800;
  background: v.$white;

  display: flex;
  flex-direction: column;
  gap: 16px;

  cursor: pointer;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }

  @include m.mobile {
    gap: 0px;
    padding: 24px 20px;
  }
}

@include m.mobile {
  .stroke {
    margin-top: 20px;
    margin-bottom: 12px;
  }
}

.stroke {
  max-width: 100%;
  height: auto;
  display: block;
  pointer-events: none;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.titleWrapper {
  display: flex;
  flex-direction: column;

  &.titleWrapperWithStatus {
    gap: 16px;
  }

  @include m.tablet {
    gap: 14px;
  }
  @include m.mobile {
    gap: 12px;
  }

  .title {
    color: v.$gray-700;
    font-size: 22px;
    font-weight: 600;
    line-height: normal;

    @include m.mobile {
      font-size: 20px;
      overflow-wrap: break-word;
    }
  }
}

.statusWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleWrapperInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chipWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footerWrapper {
  display: flex;
  gap: 12px;

  @include m.tablet {
    gap: 8px;
  }
  @include m.mobile {
    flex-direction: column;
    gap: 2px;
  }
}

.dueDateWrapper,
.peopleWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.dueDate,
.people {
  color: v.$gray-600;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
}
