@use '@/styles/variable' as v;

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  color: v.$gray-900;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}

.inputWrap {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 11px 20px;
  gap: 10px;
  box-sizing: border-box;
  border-radius: 12px;
  border: 1px solid var(--gray-gray200, #e5e5e5);
  background: var(--white-white_FFFFFF, #fff);
  flex: 0 0 auto;
}

.input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  font-weight: 400;
  color: #a3a3a3;
}

.leftNode,
.rightNode {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconBtn {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  display: grid;
  place-items: center;

  .icon {
    width: 24px;
    height: 24px;
  }
}

/* 상태 */
.hasError {
  border-color: #eb3e3e;
}

.isDisabled {
  opacity: 0.6;
  pointer-events: none;
}

/* 메시지 */
.errorText {
  color: #eb3e3e;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
}

.helperText {
  color: #000000;
  font-size: 12px;
  line-height: 1.3;
}
