@use '@/styles/variable' as v;

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  color: v.$gray-900;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}

/* ===== 기본 인풋 영역 ===== */
.inputWrap {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 11px 20px;
  gap: 10px;
  box-sizing: border-box;
  border-radius: 12px;
  border: 1px solid var(--gray-gray200, #e5e5e5);
  background: var(--white-white_FFFFFF, #fff);
  flex: 0 0 auto;
  transition: border-color 0.15s ease;

  &:focus-within {
    border-color: #171717; /* 기본 포커스 색 */
  }
}

/* ===== 인풋 필드 ===== */
.input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  font-weight: 400;
  color: #171717;
}

/* 좌/우 노드 */
.leftNode,
.rightNode {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 눈 아이콘 버튼 */
.iconBtn {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  display: grid;
  place-items: center;

  .icon {
    width: 24px;
    height: 24px;
  }
}

.inputWrap.hasError {
  border-color: #eb3e3e;
}
.inputWrap.hasError:focus-within {
  border-color: #eb3e3e;
}

/* 비활성화 */
.isDisabled {
  opacity: 0.6;
  pointer-events: none;
}

/* ===== 메시지 ===== */
.errorText {
  color: #eb3e3e;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
  margin-top: 6px;
}

.helperText {
  color: #000000;
  font-size: 12px;
  line-height: 1.3;
}
