@use '../../../variable' as v;
@use '../../../mixin' as m;

.gnbWrapper {
  width: 100%;
  background-color: v.$white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.gnbContainer {
  position: relative;
  width: min(100%, 1920px);
  height: 60px;
  flex-shrink: 0;
  margin: 0 auto;

  @include m.tablet {
    width: min(100%, 744px);
  }

  @include m.mobile {
    width: min(100%, 375px);
    height: 56px;
  }
}

.leftSection {
  position: absolute;
  top: 16.5px;
  left: clamp(24px, calc(24px + (100vw - 744px) * 0.28571), 360px);
  display: flex;
  align-items: center;
  gap: clamp(24px, calc(24px + (100vw - 744px) * 0.01389), 32px);

  @include m.tablet {
    top: 16.5px;
    left: clamp(16px, calc(16px + (100vw - 375px) * 0.02168), 24px);
    gap: clamp(12px, calc(12px + (100vw - 375px) * 0.02168), 24px);
  }

  @include m.mobile {
    top: 18px;
    left: 16px;
    gap: 12px;
  }
}

.logo {
  display: inline-flex;
  align-items: center;
}

.adminTabGroup {
  display: flex;
  align-items: center;
  gap: clamp(20px, calc(20px + (100vw - 744px) * 0.01087), 32px);

  @include m.tablet {
    gap: clamp(12px, calc(12px + (100vw - 375px) * 0.02168), 20px);
  }

  @include m.mobile {
    gap: 12px;
  }
}

.adminTab {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;

  span {
    color: v.$gray-500;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
  }

  &.isActive span {
    color: v.$gray-800;
    font-weight: 700;
  }
}

.navigation {
  position: absolute;
  top: 10px;
  right: clamp(24px, calc(24px + (100vw - 744px) * 0.28571), 360px);
  display: flex;
  align-items: center;
  gap: clamp(24px, calc(24px + (100vw - 744px) * 0.01087), 36px);
  min-height: 40px;

  @include m.tablet {
    top: 10px;
    right: clamp(16px, calc(16px + (100vw - 375px) * 0.02168), 24px);
    gap: clamp(16px, calc(16px + (100vw - 375px) * 0.02168), 24px);
  }

  @include m.mobile {
    top: 13px;
    right: 16px;
    gap: 16px;
    min-height: 40px;
  }
}

.navLink {
  color: v.$gray-600;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.2s ease;

  &:hover,
  &.isActive {
    color: v.$gray-800;
    font-weight: 600;
  }
}

.iconWrapper {
  cursor: pointer;
}

.alarmImage {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  display: block;
}

.profileImage {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: block;
}
